<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>

<form action="/logout" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <input class="btn btn-link" type="submit" value="Log out">
</form>

<div class="container-fluid">
    <div class="d-flex flex-column align-items-center">
        <h1 class="display-1">Welcome, <span th:text="${username}"></span></h1>
        <p class="lead">Get started by typing the name of the song you want to catch the vibe from.
            For example, The Beatles - Yesterday</p>
        <h1>Form</h1>
        <form action="#" th:action="@{/generate}" th:object="${trackSpotify}" method="post">
            <p>Artist: <input type="text" th:field="*{artist}" /></p>
            <p>Song: <input type="text" th:field="*{song}" /></p>
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>
    </div>

</html>